.main-btn {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.btn-calc {
	width: 70px;
	height: 70px;
	font-size: 30px;
	border-radius: 10px;
	display: block;
	border: none;
	background-color: transparent;
	transition: 0.4s;
	cursor: pointer;
	padding: 10px;
	color: white;
	box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn-calc:hover {
	transform: translateY(5px);
	box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.main-btn li {
	margin-right: 10px;
}

.main-btn li:last-child {
	margin-right: 0px;
}

.turquoise {
	color: #74ddd5;
}

.btn-w {
	width: 150px;
}

.main-calculator {
	margin-top: 100px;
}
